
* {
    /* border: 2px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

button {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    margin: 0 auto;
    border: 3px solid black;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}

.divRow {
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    background-color: rgb(255, 228, 196);
    /* border: 2px solid blue; */
}

.divColumn {
    height: 100%; 
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid blue; */
}

#buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 960px;
}

#actions {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex: 2;
    gap: 20px;
}

#brushesBtn {
    justify-content: flex-end;
    flex: 1;
}



/* #divColumn:hover {
    background-color: aqua;
} */